/* Course Description Hero Section CSS Start */

.cd-hero-wrapper {
  padding: 130px 0 50px;
  background: #111c2a;
}

.cd-hero-content span {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--light);
}

.cd-hero-content h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 39px;
  color: var(--light);
  padding: 10px 0;
}

.cd-hero-content p {
  font-size: 14px;
  line-height: 20px;
  color: var(--light);
}

.cd-hero-img img {
  max-width: 100%;
  width: 100%;
  min-height: 240px;
  max-height: 240px;
  object-fit: cover;
  border-radius: 20px;
}

/* Course Description Hero Section CSS End */

/* Course Description Content Section CSS Start  */

.cd-content-wrapper {
  padding-top: 50px;
}

.cd-content-img img {
  max-width: 100%;
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

/* Course Description Content Section CSS End  */

/* Course Outline Section CSS Start */

.course-outline-wrapper {
  padding-top: 40px;
}

.course-outline-top h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary);
  margin-bottom: 0;
  margin-right: 20px;
}

.cracow-tag span,
.warsaw-tag span,
.online-tag span {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 15px;
  padding: 3px 20px;
  margin-right: 6px;
  border-radius: 10px;
}

.cracow-tag span {
  color: #c85512;
  border: 1px solid #c85512;
}

.warsaw-tag span {
  color: #673a91;
  border: 1px solid #673a91;
}

.online-tag span {
  color: var(--primary);
  border: 1px solid var(--primary);
}

.course-outline-accordion {
  padding-top: 50px;
}

.accordion-item {
  background: var(--light);
  margin-bottom: 20px;
  border: 1px solid #dcdcdc !important;
  border-radius: 6px !important;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  background: transparent;
  border: #ffffff !important;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}

.accordion-button:not(.collapsed) {
  border-bottom: 1px solid #dcdcdc !important;
  border-radius: 0 0 6px 6px;
}

.accordion-button:focus {
  background: none;
  box-shadow: none;
  border: none;
}

.accordion-button::after {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.accordion-button h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: var(--secondary);
  margin-bottom: 0;
}

.accordion-header-info p {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: var(--dark);
  padding-right: 25px;
  margin-bottom: 0;
}

/* Course Outline Section CSS End */
